---
layout: archive
title: "Curriculum Vitae"
permalink: /cv/
author_profile: true
redirect_from:
- /resume
---

<script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"
  type="text/javascript"></script>

<!-- $$ \nabla_\boldsymbol{x} J(\boldsymbol{x}) $$
<object data="../files/Curriculum_Vitae.pdf#toolbar=0&navpanes=0&scrollbar=0" width="100%" height="100%" type='application/pdf' /> -->
<!-- <object data="../files/Curriculum_Vitae.pdf#toolbar=0&navpanes=0&scrollbar=0" width="1000" height="1000" type='application/pdf' /> -->



{% include curriculum/experiences.html %}

{% include curriculum/education.html %}