.hidden_bibtex {
    color: #515151;
    -webkit-text-size-adjust: 100%;
    text-align: -webkit-match-parent;
    box-sizing: border-box;
    -webkit-appearance: none;
    list-style-type: decimal;
    font-size: 10px;
    font-family: "PT Sans", Helvetica, Arial, sans-serif;
    line-height: 1.5;
}