{% assign education = site.data.curriculum.education %}
{% if education %}
<section class="section educations-section">

    <h2 class="section-title">
        <span class="fa-stack fa-xs">
            <i class="fas fa-circle fa-stack-2x"></i>
            <i class="fas fa-graduation-cap fa-stack-1x fa-inverse"></i>
        </span>
        {{education.title}}
    </h2>

    {% for graduation in education.info %}
    <div class="item">
        <i class="vertical-line"></i>
        <div class="time">{{ graduation.time }}</div>
        <div class="meta">

            <div class="upper-row">
                <h3 class="degree">{{ graduation.degree }}</h3>
            </div>
            <!--//upper-row-->
            {% if graduation.department %}
            <div class="department"> {{ graduation.department}} </div>
            {% endif %}
            <div class="university">{{ graduation.university }}</div>
            {% if graduation.mark %}
            <div class="mark"> Mark: {{ graduation.mark}} </div>
            {% endif %}
            {% if graduation.thesis %}
            <div class="thesis"> Thesis: <i>{{ graduation.thesis}}</i> </div>
            {% endif %}
            {% if graduation.advisor %}
            <div class="advisor"> Advisor: <i>{{ graduation.advisor}}</i> </div>
            {% endif %}
            {% if graduation.advisors %}
            <div class="advisors"> Advisors: <i>{{ graduation.advisors}}</i> </div>
            {% endif %}
        </div>
        <!--//meta-->

        {% if graduation.details %}
        <div class="details">
            {{ graduation.details | markdownify }}
        </div>
        <!--//details-->
        {% endif %}
    </div>
    {% endfor %}
<div class="last-item">
    <i class="vertical-line"></i>
</div>

</section>
<!--//section-->
{% endif %}
